@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bevan|Josefin+Slab|Jura|Press+Start+2P');

body {
    background-color: black;
}

.addContent {
    /* color: rgb(235, 235, 235); */
    text-align: center;
    width: 99%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    background-color:rgb(235, 235, 235);
    transition: all .2s ease-in-out;
    margin: 5px;
    padding-bottom: 8vh;
    top: 65%;

}
.card {
    border: 2px solid black;
    color: rgb(235, 235, 235);
    background-color: #ffffffce;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    margin: 20px;
    position: relative;
    margin-bottom: 50px;
    transition: all .2s ease-in-out;
  }
  .addContent:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
/* .addContainer {
    display: inline-block;
    padding: 1vh;
    margin: 0.5vh;
    background-color: #af6060d7;
    width: 100vh;
    padding: 10px;
} */
.labelClass {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    font-weight: 700;
}
.checkboxes {
    border: 2px solid red;
    padding: 10px;
}
.addMovieBtn {

}