@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bevan|Josefin+Slab|Jura|Montserrat|Press+Start+2P');
  body{
    margin:0;

  }
   a {
    margin:0px;
    margin-left:20px;
    font-size:18px;
    color:black;
    text-decoration:none;
   }

   .movies{
     display: flex;
     justify-content: center;
   }

   .movies ul{
     list-style: none;
     display: flex;
     margin:auto;
     justify-content: center;
     width:90%;
     flex-wrap: wrap;
     font-family: Montserrat;
   }

   .movies ul li{
     width: 200px;
     padding:10px;
     margin:20px;

   }

   .movies ul li img {
      width: 100%;
      box-shadow: 0 0 20px;
      transition: transform 0.4s;
   }

    .movies ul li img:hover{
      transform: scale(1.1) rotate(3deg);
      cursor: pointer;
    }


   .movies ul li h3{
     text-align: center;
   }

    .header{
      display: flex;
      justify-content: left;
      font-size: 3em;
      height: 350px;
      width: 100%;
      position: relative;
      box-shadow: 0px 0 30px black,0px 0 30px black;
/* background: #494949; */
background: url("https://images.unsplash.com/photo-1513704519535-f5c81aa78d0d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f60075252d3fd88dd65c486bb2f48602&auto=format&fit=crop&w=1050&q=80");
  /* background: #4e709d; */
  background-size: 100%;
  background-position: 0 55%  ;
  background-repeat: no-repeat;
color:white;
    }

    #movietext{
      margin: auto;
      position: absolute;
      top:30px;
      color: white;
      text-shadow: 0 0 20px black,0 0 20px black ;
      left:0;
      right: 0;
      text-align: center;
      letter-spacing: 10px;
      font-family: 'Press Start 2P', cursive;

    }

    .home{
      font-size: 0.6em;
      box-shadow: 0 -5px 0px;
      padding:20px;
      margin-left: 20px;
      border-radius: 100%;
      position: absolute;
      bottom:50px;
      cursor: pointer;
      z-index: 1;
      transition: box-shadow 0.3s;

    }

    .plus{
      position: absolute;
      right: 0;
      box-shadow: 0 -5px 0px;
      border-radius: 100%;
      margin-right: 20px;
      bottom:50px;
      padding:20px;
      font-size: 0.5em;
      cursor: pointer;
      z-index: 1;
      transition: box-shadow 0.3s;
    }

    .plus:hover, .home:hover{
      box-shadow: 0px 0px 0px 2px;

    }
  /*

    Search styles
   */

     .lookFoor{
       display:flex;
       justify-content:center;
      width:100%;
      position: relative;
      flex-direction: column;
     }

     .searchDiv{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: row;
       position: relative;
       top:-30px;

     }
     .inputStyle{
       width:30%;

       height: 80px;
       padding: 0px;

       border:none;
       font-size: 1.2em;
       -webkit-border-top-left-radius: 10px;
       -webkit-border-top-right-radius: 10px;
       -moz-border-radius-topleft: 10px;
       -moz-border-radius-topright: 10px;
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;
       border-top:5px solid black;
        border-bottom: none;
        text-align: center;
     }

     .searchBtnDiv{
          width: 50px;
          position: absolute;
          top:-90px;
          margin-left: 180px;
     }

      .searchBtnDiv span{
        position: absolute;
        font-size: 1em;
        top:80px;
        color:white;
        text-shadow: 0 0  10px  black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
        z-index: 3;
        font-family: 'Press Start 2P', cursive;

      }

      .searchBtnDiv img {
        transform: rotate(20deg);
        transition: transform 0.2s;
        cursor: pointer;
      }
      .searchBtnDiv img:hover {
        transform: rotate(16deg);

      }


      #current{
        position: absolute;
        top:40px;
        right:0;

        height: 100px;
        display: flex;
        text-align: center;
      }

      #current div{
        display: flex;
        flex-direction: column;
        line-height: 0;
        padding:0;
        margin:20px;
      }

   /* .searchDiv{
    display:flex;
    justify-content:left;
    padding-top:100px;
   }


   .searchDivChild1{
    border-top:4px solid black;
    width:17%;
    border-radius:6px 0
   }


   .searchDivChild2 {
    border-left:3px solid black;
    position:relative;
    left:16px;
    transform:skew(40deg);
    z-index:2
   }


   .inpDiv{
    width:40%;
    position:relative;
    left:35px;
   }

   .inputStyle{
    width:100%;
    padding:10px;
    border:none;
    border-bottom:1px solid black;

    font-size:1.4em;
    text-align:center;
   }



   .searchBtn {

      border-radius:50px 0px;
      border-right:20px solid black;
      border-left:15px solid black;
      border-top:none;
      border-bottom:none;
      width:150px;
      background:white;
      color:rgba(0,0,0,0.8);
      position:relative;
      font-size:1em;
      padding:10px;
      cursor:pointer;
      z-index:3;

   } */

    /*
      categories search
    */

    .categories {
      position: absolute;
      width: 100%;
      top:-15px;
      font-size:0.8em ;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      font-family: 'Press Start 2P', cursive;

    }



   /*
     genre search
   */

  .genre {
    width:100px;
    height: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .genre > div{
    position: absolute;
    top:-25px;
    display: flex;
    flex-direction: column;
  }

  .genre div span{
    padding:15px;
  }

  .genre > div span:first-child{
    color:white;
    font-size: 0.9em;
    text-align: center;
    font-family: Montserrat

  }

  .genre:hover > ul{
    display: flex;
  }

  .genre ul li{
    padding-top:10px;
    font-size: 0.7em;
    cursor: pointer;
  }


  .genre ul {
    list-style: none;
    position: absolute;
    left:10px;
    top:40px;
    display: none;
    cursor: pointer;
    flex-direction: column;
    margin: 0;
    padding:0;
  }


  .genre ul li:hover{
    background: rgba(0,0,0,0.5);
    cursor: pointer;

  }

/* Rating search
*/

  .rating{
    width:100px;
    height: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
  }

  .rating > div{
    position: absolute;
    top:-25px;
    display: flex;
    flex-direction: column;
  }

  .rating div span{
    padding:15px;
  }

  .rating div span:first-child{
    color:white;
    font-family: Montserrat

  }

  .rating:hover > ul{
    display: flex;
  }

  .rating ul {
    list-style: none;
    display: none;
    position: absolute;
    top:40px;
    left:0px;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding:0;
  }

  .rating ul li {
    padding-top: 10px;
    font-size: 0.7em;
    width:100px;
  }

  .rating ul li:hover{
  }

   /* List styles
   */
